*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Utility */
.wd_80{
  margin: auto;
  width: 80vw;
}
.cl_fix::after {
  content: "";
  display: table;
  clear: both;
}
.up_cs {
  text-transform: uppercase;
}

.lft{
  float: left;
}
.btn{
  padding: 10px 20px;
  border-radius: 5px;
}
.btn.wh{border: 1px solid white;}
.bg_bl{background-color: #0c325a;}
.bg_grn{background-color: #7cbb02;}
.bg_gry{background-color: #d3d3d3}

.pd_40{padding: 40px;}
.lead{
  color: #808080;
  font-size: 1.2em;
}
.tx_center{text-align: center;}
h2{font-weight: 500;}
/* Utility */
/* Header */
header, main, footer{
  width: 100%;
}
.logo{
width: 15%;

}
.m_left{
width: 40%
}
.m_right{
width: 45%
}

nav{
  padding: 20px 0 0 0;
  line-height: 1.8em;
}
/* menu */
.tdn_cw>li>a, .tdn_cw>a{
  text-decoration: none;
  color: white;
}
nav > div > ul > li{
  margin: 0 10px;
  list-style: none;
  display: inline;
}
#lgn{ padding: 0 15px;}
/* /menu */

/* banner_header */
.testata{
  color: white;
  position: relative;
  height: calc(510px - 1.8em);
  background-image: url("../img/banner_header.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
  overflow: hidden;
  min-width: 1400px;
}

.hero_text>h1{
  font-size: 50px;
  margin-bottom: 30px;
}
.hero_text{
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* /Header */

/* Main */
.row1, .row2{
  margin: auto;
  margin-top: 20px;
}
.row1>.card{
  width: 33.3333%;
}

.img_r1>img{
  height: 150px;

}
.row1>div>div>h2{color:#7cbb02;}

.img_r1{
  padding: 0 40px;
}
.img_r1>hr{
  border-style: solid;
  margin: 20px auto;
  width: 20%;
  color: #808080;
}
main > hr{
  color: #808080;
  border-style: solid;
  margin: 40px 1%;
}
.row2>.card{width: 50%;}
.img_r2{
  padding:20px;
}
.row2>div.pd_40{
  line-height: 1.5em;
  font-size: 30px;
}

/* /Main */

/* Footer */
footer>div{margin: auto;}
.left{
  width: 50%;
  line-height: 1.5em;
  font-size: 30px;
}
footer > div > div.right.card.lft > p{
  display: inline;

}
.right{
  text-align: right;
  width: 50%;
  margin: 12px 0;
}
 div.right.card.lft.pd_40.tdn_cw > p, div.right.card.lft.pd_40.tdn_cw > select{
  padding: 0 15px;
}
 div.right.card.lft.pd_40.tdn_cw > select{
  margin: 0 15px 0 0;
  border: none;
  border-bottom: 1px solid #808080;
  color: #808080
}
/* /Footer */
